<footer class="footer text-center">
    <div id="bottom-inner">
      
      <a href="http://programer.group" target="_blank">主站</a> |
      <a href="https://zhongyp.me" target="_blank">DO IT</a> |
      <a href="https://github.com/zhongyp" target="_blank">GitHub</a> |
      <a href="http://hexo.io" target="_blank">Hexo</a> |
      <a href="https://github.com/microacup/hexo-theme-micorb" target="_blank">Theme microb</a>
    </div>
  </footer>